VET_DB_NAME=vet
CART_DB_NAME=cart
AUTH_DB_NAME=auth
KENNEL_DB_NAME=kennel

PG_HOST=postgres
PG_NAME=db_name
PG_USER=kennel
PG_PASSWORD=password

# This is for the thank you redirection after a payment
THANK_YOU_URL=https://google.com
CANCEL_URL=https://google.com
